@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

body, html {
    width: 100%;
    height: 100%;
    margin: 0;
    font-family: 'Lato', sans-serif;
    overflow-x: hidden;
    background: url('img/bg.jpg');
    background-size: cover;
}

.container {
    display: block;
    text-align: center;
    width: 100%;
    height: 100%;
    margin: 0;
    position: absolute;
}

.calculator {
    width: 350px;
    height: 500px;
    border: none;
    border-radius: 5px;
    background: url(img/calc-bg.jpg);
    background-size: cover;
    padding: 10px;
    -webkit-box-shadow: 2px 5px 10px -3px rgba(0,0,0,0.7); 
    box-shadow: 2px 5px 10px -3px rgba(0,0,0,0.7);

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* GRID FORMATTING START */
.buttons {
    display: block;
    height: 360px;
    padding: 125px 13px 13px 5px;
}

.buttons-grid {
    height: 360px;
    display: grid;
    grid-template-columns:  [num-start] 3fr [num-end] 1fr [last-line];
    grid-template-rows: [row1-start] 1fr [row1-end] 4fr [row2]; 
    justify-items: stretch;
}

.controls {
    display: grid;
    grid-column: num-start / num-end;
    grid-row: row1-start / row1-end;
}

.controls-grid {
    display: grid;
    grid-template-columns: 2fr 1fr;
}

button#clear {
    grid-column: 1 / 2;
}

.operations {
    display: grid;    
    grid-column: num-end / last-line;
    grid-row: row1-start / row2;
}

.numpad {
    width: 100%;
    height: 100%;
    display: grid;
    grid-column: num-start / num-end;
    grid-row: row1-end / row2;
}

.num-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
}

button#dc {
    grid-column: 3;
}
button#no0 {
    grid-column: 1 / span 2;
}
/* GRID FORMATTING END */

button {
    background: rgba(3, 35, 70, 0.644);
    box-shadow:inset 0px 0px 0px 2.5px  rgba(255, 248, 220, 0.877);
    color: rgba(255, 248, 220, 0.877);
    display: grid;
    font-size: 18px;
    margin: 0  0 10px 10px;
    border-radius: 5px;
    border: none;
    box-shadow: 2px 5px 10px -5px rgba(0,0,0,0.39);
    transition: 0.18s ease-in;

    perspective: 1000px;
    transform-origin: center bottom 0px;
    transform: matrix(1, 0, 0, 1, 0, 0);
}

button:active {
    transform: matrix(0.95, 0, 0, 0.95, 0, 0);
}

button:focus {
    outline:0;
}

button:hover {
    background-color: rgba(126, 194, 233, 0.514);
}

#display {
    position: absolute;
    display: block;
    height: 140px;
    width: 100%;
    font-size: 28px;
    text-align: right;
}

#display p {
    background: rgba(3, 35, 70, 0.644);
    color: rgba(255, 248, 220, 0.877);
    display: block;
    height: 34px;
    width: 305px;
    border: none;
    border-radius: 5px;
    margin: 30px 15px 0;
    padding: 12px 8px;
    overflow-y: scroll;
    word-wrap: break-word;
    box-shadow: 2px 5px 10px -5px rgba(0,0,0,0.39);
}

.footer {
    bottom: 0;
    position: fixed;
    display: block;
    background-color:rgba(29, 48, 66, 0.61);
    text-align: right;
    color: rgba(255, 248, 220, 0.877);
    padding: 10px 25px;
}